body{
    background-color:blueviolet
}
h1{
    font-weight: bold;
    font-size:20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: red
}

p{
    font-size: 16pt;
}